
.adc {
    color:chocolate;
}

.caitlyn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#special {
    color:teal;
}

* {
    background-color:beige;
}

.centering {
    text-align: center
}

.caitlyn {
    background-color:beige;
}

h1 {
    color:brown;
}

